/* Google Maps API - coding*/

 #map {
    width: 950px;
    height: 550px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;

  }
  
  #map-section{
    align-items: center;
    padding-bottom: 50px;

  }
   
   html,
  body {
    height: 100%;
    margin: 0;
    padding: 0;
  }
  
  #description {
    font-family: Roboto;
    font-size: 15px;
    font-weight: 300;
  }
  
  #infowindow-content .title {
    font-weight: bold;
  }
  
  #infowindow-content {
    display: none;
  }
  
  #map #infowindow-content {
    display: inline;
  }
  
  .pac-card {
    background-color: #fff;
    border: 0;
    border-radius: 2px;
    box-shadow: 0 1px 4px -1px rgba(0, 0, 0, 0.3);
    margin: 10px;
    padding: 0 0.5em;
    font: 400 18px Roboto, Arial, sans-serif;
    overflow: hidden;
    font-family: Roboto;
    padding: 0;
  }
  
  #pac-container {
    padding-bottom: 12px;
    margin-right: 12px;
  }
  
  .pac-controls {
    display: inline-block;
    padding: 5px 11px;
  }
  
  .pac-controls label {
    font-family: Roboto;
    font-size: 13px;
    font-weight: 300;
  }
  
  #pac-input {
    background-color: #fff;
    font-family: Roboto;
    font-size: 15px;
    font-weight: 300;
    margin-left: 12px;
    padding: 0 11px 0 13px;
    text-overflow: ellipsis;
    width: 400px;
  }
  
  #pac-input:focus {
    border-color: #4d90fe;
  }
  
  #title {
    color: #fff;
    background-color: #4d90fe;
    font-size: 25px;
    font-weight: 500;
    padding: 6px 12px;
  }
  
  #target {
    width: 345px;
  } 

  /* end of Google Maps API - coding*/

  /*Hero Padding - Locate Resources and Place Select a Category*/

  .hero-body{
    padding:20px;
  }



  /*@media Screen - display map - size changed according to screen size*/

  @media screen and (min-width: 1024px) {
    .mobile {
      display: none;
    }
  }

  @media screen and (max-width: 1024px){
    
    #map {
        width: 600px;
        height: 600px;
      }
    
 /*@media Screen - max-width: 630px*/   

    @media screen and (max-width: 630px){
        #map {
          width: 360px;
          height: 360px;
        }
        .hero{
            padding:5px;
          }
        .button {
            padding:0px;
            margin:0px;
            font-size: 12px;
    
        }
    
    
      }   
    }
